In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
naics_path = "../../Resources/employment_by_NAICS.csv"
sic_path = "../../Resources/employment_by_SIC.csv"
naics_df = pd.read_csv(naics_path, encoding="ISO-8859-1")
sic_df = pd.read_csv(sic_path, encoding="ISO-8859-1")

display(naics_df)
display(sic_df)

C:\Users\tyler\AppData\Local\Temp\ipykernel_16104\209045411.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  naics_df = pd.read_csv(naics_path, encoding="ISO-8859-1")
C:\Users\tyler\AppData\Local\Temp\ipykernel_16104\209045411.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  sic_df = pd.read_csv(sic_path, encoding="ISO-8859-1")

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2001,2002,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"""00000""",United States,,CAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,165522200,165095100,...,182328100,186239800,190325800,193425900,196394100,200292200,201635200,195286600,202752100,212442000
1,"""00000""",United States,,CAEMP25N,20.0,...,Wage and salary employment,Number of jobs,137334000,136301000,...,141932000,144722000,147641000,149960000,151949000,154362000,156540000,147227000,151768000,158015000
2,"""00000""",United States,,CAEMP25N,40.0,...,Proprietors employment,Number of jobs,28188200,28794100,...,40396100,41517800,42684800,43465900,44445100,45930200,45095200,48059600,50984100,54427000
3,"""00000""",United States,,CAEMP25N,50.0,...,Farm proprietors employment,Number of jobs,2190000,2032000,...,1859000,1846000,1834000,1824000,1803000,1803000,1772000,1768000,1762000,1754000
4,"""00000""",United States,,CAEMP25N,60.0,...,Nonfarm proprietors employment 2/,Number of jobs,25998200,26762100,...,38537100,39671800,40850800,41641900,42642100,44127200,43323200,46291600,49222100,52673000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104873,"""98000""",Far West,8.0,CAEMP25N,2012.0,...,Local government,Number of jobs,2279569,2341319,...,2294438,2333865,2389887,2472269,2513430,2540718,2561134,2418196,2411063,2493136
104874,Note: See the included footnote file.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104875,CAEMP25N: Total full-time and part-time employ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104876,"Last updated: November 16, 2023-- new statisti...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104877,U.S. Bureau of Economic Analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000
0,"""00000""",United States,,CAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,91053200,91277600,...,137612800,138166100,140774400,144196600,147915800,151056200,154541200,158481200,161531300,165370800
1,"""00000""",United States,,CAEMP25S,20.0,...,Wage and salary employment,Number of jobs,78722000,78793000,...,115086000,115666000,117717000,120568000,123412000,125711000,128681000,131920000,134766000,137610000
2,"""00000""",United States,,CAEMP25S,40.0,...,Proprietors employment,Number of jobs,12331200,12484600,...,22526800,22500100,23057400,23628600,24503800,25345200,25860200,26561200,26765300,27760800
3,"""00000""",United States,,CAEMP25S,50.0,...,Farm proprietors employment,Number of jobs,2751000,2717000,...,2194000,2191000,2273000,2245000,2240000,2205000,2212000,2249000,2237000,2224000
4,"""00000""",United States,,CAEMP25S,60.0,...,Nonfarm proprietors employment 2/,Number of jobs,9580200,9767600,...,20332800,20309100,20784400,21383600,22263800,23140200,23648200,24312200,24528300,25536800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73415,"""98000""",Far West,8.0,CAEMP25S,932.0,...,Local government,Number of jobs,(NA),(NA),...,1805923,1833431,1840326,1873730,1919238,1960684,2008280,2049355,2128346,2207261
73416,Note: See the included footnote file.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73417,CAEMP25S: Total full-time and part-time employ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73418,"Last updated: November 14, 2019-- revised stat...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73419,U.S. Bureau of Economic Analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN